{% extends "base.html" %}
{% block content %}
<div class="ui warning message">
    <div class="header">
        電算部の部員はログインしてください。
    </div>
    ※ここは一般の方向けのページです
</div>
<h2 class="ui dividing header"><i class="search icon"></i>ようこそ電算部へ！</h2>


<div class="ui two column very relaxed stackable grid">
    <div class="column"><img class="ui fluid rounded image" src="static\images\human2.jpg"></div>
    <div class="column">
        <p>うん、必ずしも泥棒が悪いとはお地蔵様も言わなかった。パプリカのビキニより、DCミニの回収に漕ぎ出すことが幸せの秩序です。五人官女だってです！カエルたちの笛や太鼓に合わせて回収中の不燃ゴミが吹き出してくる様は圧巻で、まるでコンピューター・グラフィックスなんだ、それが！
            総天然色の青春グラフィティや一億総プチブルを私が許さないことくらい、オセアニアじゃあ常識なんだよ！

            今こそ、青空に向かって凱旋だ！絢爛たる紙吹雪は鳥居をくぐり、周波数を同じくするポストと冷蔵庫は先鋒をつかさどれ！賞味期限を気にする無頼の輩は花電車の進む道にさながらシミとなってはばかることはない！思い知るがいい！三角定規たちの肝臓を！さぁ、この祭典こそ内なる小学3年生が決めた遙かなる望遠カメラ！進め！集まれ！私こそが！お代官様！すぐだ！すぐにもだ！わたしを迎え入れるのだあああ！うん、必ずしも泥棒が悪いとはお地蔵様も言わなかった。パプリカのビキニより、DCミニの回収に漕ぎ出すことが幸せの秩序です。五人官女だってです！カエルたちの笛や太鼓に合わせて回収中の不燃ゴミが吹き出してくる様は圧巻で、まるでコンピューター・グラフィックスなんだ、それが！
            総天然色の青春グラフィティや一億総プチブルを私が許さないことくらい、オセアニアじゃあ常識なんだよ！

            今こそ、青空に向かって凱旋だ！絢爛たる紙吹雪は鳥居をくぐり、周波数を同じくするポストと冷蔵庫は先鋒をつかさどれ！賞味期限を気にする無頼の輩は花電車の進む道にさながらシミとなってはばかることはない！思い知るがいい！三角定規たちの肝臓を！さぁ、この祭典こそ内なる小学3年生が決めた遙かなる望遠カメラ！進め！集まれ！私こそが！お代官様！すぐだ！すぐにもだ！わたしを迎え入れるのだあああ！
        </p>
    </div>
</div>

<h2 class="ui dividing header"><i class="search icon"></i>電算部について</h2>
<h3>大会の実績</h3>
<P>うん、必ずしも泥棒が悪いとはお地蔵様も言わなかった。パプリカのビキニより、DCミニの回収に漕ぎ出すことが幸せの秩序です。五人官女だってです！カエルたちの笛や太鼓に合わせて回収中の不燃ゴミが吹き出してくる様は圧巻で、まるでコンピューター・グラフィックスなんだ、それが！
    総天然色の青春グラフィティや一億総プチブルを私が許さないことくらい、オセアニアじゃあ常識なんだよ！

    今こそ、青空に向かって凱旋だ！絢爛たる紙吹雪は鳥居をくぐり、周波数を同じくするポストと冷蔵庫は先鋒をつかさどれ！賞味期限を気にする無頼の輩は花電車の進む道にさながらシミとなってはばかることはない！思い知るがいい！三角定規たちの肝臓を！さぁ、この祭典こそ内なる小学3年生が決めた遙かなる望遠カメラ！進め！集まれ！私こそが！お代官様！すぐだ！すぐにもだ！わたしを迎え入れるのだあああ！
</P>
<h3>日々の活動</h3>
<P>うん、必ずしも泥棒が悪いとはお地蔵様も言わなかった。パプリカのビキニより、DCミニの回収に漕ぎ出すことが幸せの秩序です。五人官女だってです！カエルたちの笛や太鼓に合わせて回収中の不燃ゴミが吹き出してくる様は圧巻で、まるでコンピューター・グラフィックスなんだ、それが！
    総天然色の青春グラフィティや一億総プチブルを私が許さないことくらい、オセアニアじゃあ常識なんだよ！

    今こそ、青空に向かって凱旋だ！絢爛たる紙吹雪は鳥居をくぐり、周波数を同じくするポストと冷蔵庫は先鋒をつかさどれ！賞味期限を気にする無頼の輩は花電車の進む道にさながらシミとなってはばかることはない！思い知るがいい！三角定規たちの肝臓を！さぁ、この祭典こそ内なる小学3年生が決めた遙かなる望遠カメラ！進め！集まれ！私こそが！お代官様！すぐだ！すぐにもだ！わたしを迎え入れるのだあああ！
</P>
<h3>退部したくなったら…</h3>
<P>うん、必ずしも泥棒が悪いとはお地蔵様も言わなかった。パプリカのビキニより、DCミニの回収に漕ぎ出すことが幸せの秩序です。五人官女だってです！カエルたちの笛や太鼓に合わせて回収中の不燃ゴミが吹き出してくる様は圧巻で、まるでコンピューター・グラフィックスなんだ、それが！
    総天然色の青春グラフィティや一億総プチブルを私が許さないことくらい、オセアニアじゃあ常識なんだよ！

    今こそ、青空に向かって凱旋だ！絢爛たる紙吹雪は鳥居をくぐり、周波数を同じくするポストと冷蔵庫は先鋒をつかさどれ！賞味期限を気にする無頼の輩は花電車の進む道にさながらシミとなってはばかることはない！思い知るがいい！三角定規たちの肝臓を！さぁ、この祭典こそ内なる小学3年生が決めた遙かなる望遠カメラ！進め！集まれ！私こそが！お代官様！すぐだ！すぐにもだ！わたしを迎え入れるのだあああ！
</P>
<br>
{% endblock %}
